<div mat-dialog-title>
  <h1>Professeur Form</h1>
</div>
<form [formGroup]="ProfForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>First Name Teacher</mat-label>
      <input matInput type="text" placeholder="e.g., TAHIRI" formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Second Name Teacher</mat-label>
      <input matInput type="text" placeholder="e.g., AHMED" formControlName="lastName">
    </mat-form-field>
  </div>
</div>
        
<div mat-dialog-actions class="action">
  <button mat-raised-button type="button" (click)="resetForm()">Cancel</button>
  <button mat-raised-button color="primary" type="submit">Save</button>
</div>
</form>
