<div mat-dialog-title>
    <h1>Etudiant Form</h1>
</div>
<form [formGroup]="studForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput type="text" placeholder="e.g., Yahya" formControlName="firstName">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" placeholder="e.g., Kassani" formControlName="lastName">
      </mat-form-field>
      
  </div>

    <div class="row">
        <input type="file" class="custom-file-input" (change)="onFileChange($event)" formControlName="image"/>
    </div>
      
    <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Year</mat-label>
          <mat-select placeholder="Select year" [(value)]="selectedYear" formControlName="year">
            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" (click)="resetForm()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
  </div>
</form>